{
  "x-generator": "NSwag v14.6.3.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Karage API",
    "description": "Welcome to the Karage API! This API provides programmatic access to manage your business operations including accounts, services, orders, subscriptions, notifications, and more.\n\n## Authentication\n\nThe Karage API uses **OAuth 2.0** with the Authorization Code flow (with PKCE) for authentication.\n\n### Getting Started\n\n1. **Obtain Client Credentials**: Register your application to receive a `client_id`\n2. **Authorization Request**: Redirect users to the authorization endpoint to grant access\n3. **Token Exchange**: Exchange the authorization code for an access token\n4. **API Requests**: Include the access token in the `Authorization` header as `Bearer <token>`\n\n### OAuth2 Endpoints\n\n| Endpoint | URL |\n|----------|-----|\n| Authorization | `/oauth/authorize` |\n| Token | `/oauth/token` |\n\n### Available Scopes\n\n| Scope | Description |\n|-------|-------------|\n| `email` | Access to your email address |\n| `profile` | Access to your profile information |\n| `offline_access` | Allows refresh tokens for long-lived access |\n\n### Example Authorization Request\n\n```\nGET /oauth/authorize?\n  response_type=code&\n  client_id=YOUR_CLIENT_ID&\n  redirect_uri=YOUR_REDIRECT_URI&\n  scope=email profile offline_access&\n  code_challenge=YOUR_CODE_CHALLENGE&\n  code_challenge_method=S256\n```\n\n> **Tip**: Use the **Authorize** button above to test the API interactively with your credentials.",
    "contact": {
      "name": "Karage Support",
      "url": "https://karage.co/support",
      "email": "support@karage.co"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://karage.co/terms"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api-qa4.karage.co"
    }
  ],
  "paths": {
    "/api/v1/zatca/system-compliance": {
      "post": {
        "tags": [
          "Zatca"
        ],
        "summary": "Create system-wide ZATCA compliance certificate",
        "description": "SuperAdmin only. Creates the initial compliance certificate for system-level validation.",
        "operationId": "CreateSystemCompliance",
        "parameters": [
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "CreateSystemComplianceRequest",
          "description": "The CreateSystemComplianceRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSystemComplianceRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Compliance certificate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemComplianceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or compliance certificate already exists"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/zatca/certificates/health": {
      "get": {
        "tags": [
          "Zatca"
        ],
        "summary": "Get ZATCA certificate health status",
        "description": "Retrieves health status of all active ZATCA certificates, showing which ones are expiring soon, in critical state, or already expired. Used for certificate lifecycle monitoring and proactive management.",
        "operationId": "GetZatcaCertificateHealth",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "description": "Current page number (1-based).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "example": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "example": 20
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate health status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateHealthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/zatca/terminals/{TerminalID}/certificate-status": {
      "get": {
        "tags": [
          "Zatca"
        ],
        "summary": "Get certificate status for a terminal",
        "description": "Retrieves the active certificate and complete certificate history for a terminal.",
        "operationId": "GetZatcaCertificateStatus",
        "parameters": [
          {
            "name": "TerminalID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the terminal",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Current page number (1-based).",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "example": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items per page.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "example": 20
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Certificate status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateStatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Terminal not found or no certificates exist"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/zatca/system-compliance/samples/{InvoiceTypeID}/{DocumentTypeID}": {
      "get": {
        "tags": [
          "Zatca"
        ],
        "summary": "Get sample invoice data for printing",
        "description": "Retrieves the complete sample invoice data including XML and JSON representations for a specific invoice type and document type. Used for printing and debugging compliance samples.",
        "operationId": "GetSampleInvoice",
        "parameters": [
          {
            "name": "InvoiceTypeID",
            "in": "path",
            "required": true,
            "description": "Invoice type identifier (Simplified or Standard).",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "DocumentTypeID",
            "in": "path",
            "required": true,
            "description": "Document type identifier (Invoice, CreditNote, or DebitNote).",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Sample invoice data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SampleInvoiceDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Sample invoice not found for the specified type and document type"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/zatca/system-compliance/status": {
      "get": {
        "tags": [
          "Zatca"
        ],
        "summary": "Get system compliance certificate status",
        "description": "Returns the current status of the system compliance certificate and sample invoice submissions.",
        "operationId": "GetSystemComplianceStatus",
        "parameters": [
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemComplianceStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/zatca/terminals/{TerminalID}/certificates": {
      "get": {
        "tags": [
          "Zatca"
        ],
        "summary": "List all certificates for a terminal",
        "description": "Retrieves a paginated list of all certificates for a terminal with optional filtering by status and certificate type.",
        "operationId": "ListZatcaCertificates",
        "parameters": [
          {
            "name": "TerminalID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the terminal",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "Page",
            "in": "query",
            "required": true,
            "description": "Page number (default: 1).",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Page size (default: 10, max: 100).",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 20
          },
          {
            "name": "Status",
            "in": "query",
            "description": "Filter by certificate status (optional).",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "400"
          },
          {
            "name": "CertificateType",
            "in": "query",
            "description": "Filter by certificate type (optional).",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Certificates retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfCertificateInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Terminal not found"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/zatca/onboard": {
      "post": {
        "tags": [
          "Zatca"
        ],
        "summary": "Onboard a terminal with ZATCA",
        "description": "Requests a production certificate from ZATCA using the system compliance certificate. System compliance must be complete (all 6 sample invoices passed) before onboarding.",
        "operationId": "CreateZatcaOnboarding",
        "parameters": [
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "OnboardRequest",
          "description": "The OnboardRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnboardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Terminal successfully onboarded with ZATCA production certificate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Terminal not found"
          },
          "409": {
            "description": "Conflict - terminal already onboarded or system compliance not complete"
          },
          "422": {
            "description": "Business validation failed - missing location, account, or invalid Saudi credentials"
          },
          "502": {
            "description": "ZATCA API upstream error"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/zatca/renew-certificate": {
      "post": {
        "tags": [
          "Zatca"
        ],
        "summary": "Renew a terminal's certificate",
        "description": "Renews an existing certificate before it expires using a new OTP from ZATCA portal. Creates a new certificate and marks the old one as expired.",
        "operationId": "CreateZatcaCertificateRenewal",
        "parameters": [
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "RenewCertificateRequest",
          "description": "The RenewCertificateRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenewCertificateRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Certificate renewed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Terminal not found"
          },
          "409": {
            "description": "Conflict - no active certificate to renew or system compliance not active"
          },
          "422": {
            "description": "Business validation failed - missing location, account, or invalid Saudi credentials"
          },
          "502": {
            "description": "ZATCA API upstream error"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/orders/{OrderID}/zatca/submit": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Submit order invoice to Zatca",
        "description": "Manually submits an order as an e-invoice to Zatca. Can be used for any order regardless of completion status.",
        "operationId": "ProcessZatcaSubmission",
        "parameters": [
          {
            "name": "OrderID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the order",
            "schema": {
              "type": "string"
            },
            "example": "50001"
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "201": {
            "description": "Invoice submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitOrderToZatcaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Order not found"
          },
          "422": {
            "description": "Order validation failed (TERMINAL_NOT_ASSIGNED, NO_LINE_ITEMS)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitOrderToZatcaResponse"
                }
              }
            }
          },
          "502": {
            "description": "Zatca submission failed (ZATCA_SUBMISSION_FAILED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitOrderToZatcaResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/zatca/system-compliance/samples": {
      "post": {
        "tags": [
          "Zatca"
        ],
        "summary": "Submit 6 compliance sample invoices to ZATCA",
        "description": "SuperAdmin only. Submits the 6 required sample invoices (3 standard + 3 simplified) to ZATCA for compliance verification using the system compliance certificate.",
        "operationId": "CreateSampleInvoices",
        "parameters": [
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "SubmitSampleInvoicesRequest",
          "description": "The SubmitSampleInvoicesRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitSampleInvoicesRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Sample invoices submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitSampleInvoicesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or compliance issues"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a new webhook subscription",
        "description": "Creates a new webhook subscription for an account to receive notifications when specific events occur.",
        "operationId": "CreateWebhook",
        "parameters": [
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "WebhookRequest",
          "description": "The WebhookRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get all webhook subscriptions",
        "description": "Retrieves a paginated list of webhook subscriptions with optional filtering by account, event type, and active status.",
        "operationId": "GetWebhooks",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "required": true,
            "description": "Page number for pagination (1-based)",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 20
          },
          {
            "name": "AccountID",
            "in": "query",
            "description": "The unique identifier of the Account",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "example": 1
          },
          {
            "name": "EventType",
            "in": "query",
            "description": "The EventType query parameter",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "allOf": [
                {
                  "$ref": "#/components/schemas/WebhookEventType"
                }
              ]
            },
            "example": 1
          },
          {
            "name": "IsActive",
            "in": "query",
            "description": "Filter by active status",
            "schema": {
              "type": "boolean",
              "nullable": true
            },
            "example": true
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Webhookses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfWebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/webhooks/{WebhookID}": {
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a webhook subscription",
        "description": "Deletes a webhook subscription by its ID. This action cannot be undone.",
        "operationId": "DeleteWebhook",
        "parameters": [
          {
            "name": "WebhookID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Webhook",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook by ID",
        "description": "Retrieves a webhook subscription by its ID",
        "operationId": "GetWebhook",
        "parameters": [
          {
            "name": "WebhookID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Webhook",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update an existing webhook subscription",
        "description": "Updates an existing webhook subscription. You can modify the event type, endpoint URL, description, secret, and active status.",
        "operationId": "UpdateWebhook",
        "parameters": [
          {
            "name": "WebhookID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Webhook",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "UpdateWebhookRequest",
          "description": "The UpdateWebhookRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/webhooks/{WebhookID}/test": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Test webhook endpoint",
        "description": "Sends a sample webhook payload to the specified webhook endpoint for testing purposes.\nThis allows developers to verify their webhook integration is working correctly.",
        "operationId": "TestWebhook",
        "parameters": [
          {
            "name": "WebhookID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Webhook",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Test webhook sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestWebhookResponse"
                }
              }
            }
          },
          "400": {
            "description": "Webhook is not active"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Webhook not found"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/warehouses": {
      "post": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Create warehouse",
        "description": "Creates a new warehouse",
        "operationId": "CreateWarehouse",
        "parameters": [
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "WarehouseRequest",
          "description": "The WarehouseRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarehouseRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Warehouse created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Get warehouses",
        "description": "Retrieves a paginated list of warehouses with optional filtering and sorting",
        "operationId": "GetWarehouses",
        "parameters": [
          {
            "name": "Filters",
            "in": "query",
            "description": "JSON array of filter rules. Example: [{\"Field\":\"Name\",\"Operator\":\"contains\",\"Values\":[\"SearchTerm\"]}]\nAvailable operators: eq, neq, gt, lt, gte, lte, contains, between",
            "schema": {
              "type": "string",
              "default": "[]",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "Page",
            "in": "query",
            "required": true,
            "description": "Page number for pagination (starts from 1)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Number of items per page (1-100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 20
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "SortDirection",
            "in": "query",
            "required": true,
            "description": "Sort direction: \"asc\" or \"desc\"",
            "schema": {
              "type": "string",
              "default": "asc"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Warehouseses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfWarehouseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/warehouses/{WarehouseID}": {
      "delete": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Delete warehouse",
        "description": "Deletes a warehouse",
        "operationId": "DeleteWarehouse",
        "parameters": [
          {
            "name": "WarehouseID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the warehouse",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "Warehouse deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Get warehouse by ID",
        "description": "Retrieves a warehouse by its ID",
        "operationId": "GetWarehouseById",
        "parameters": [
          {
            "name": "WarehouseID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the warehouse",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Warehouse retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Warehouses"
        ],
        "summary": "Update warehouse",
        "description": "Updates an existing warehouse",
        "operationId": "UpdateWarehouse",
        "parameters": [
          {
            "name": "WarehouseID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the warehouse",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "WarehouseRequest",
          "description": "The WarehouseRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WarehouseRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Warehouse updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/accounts/{AccountID}/warehouses": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account warehouses",
        "description": "Retrieves all warehouses belonging to the specified account.",
        "operationId": "GetAccountWarehouses",
        "parameters": [
          {
            "name": "AccountID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the account",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Warehouses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WarehouseResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Account does not exist"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/app-version": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get application version",
        "description": "Returns the current application version in a legacy-compatible format with status code, message, and version data",
        "operationId": "GetAppVersion",
        "parameters": [
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "App version retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppVersionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/version": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Get application version information",
        "description": "Returns minimal version information for deployment verification including semantic version, git commit hash, build date, and environment",
        "operationId": "GetVersion",
        "parameters": [
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Version information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VersionInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/users": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Create a new staff user",
        "description": "Creates a new staff user for the current account with optional password, passcode, and initial role assignments.",
        "operationId": "CreateUser",
        "parameters": [
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "UserRequest",
          "description": "The UserRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g., duplicate email, weak password)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "List all staff users",
        "description": "Retrieves a paginated list of staff users for the current account with support for filtering, search, and sorting.",
        "operationId": "GetUsers",
        "parameters": [
          {
            "name": "Filters",
            "in": "query",
            "description": "JSON string containing array of filter rules to apply.\nExample: [{\"Field\":\"MakeID\",\"Operator\":\"eq\",\"Values\":[\"1\"]}]",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Current page number (1-based)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "example": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "example": 20
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Field name to sort by",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "Sort direction: \"asc\" or \"desc\"",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Users retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfUserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g., invalid location/role ID)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/users/{UserID}": {
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete a user",
        "description": "Permanently deletes a staff user and all associated data including role assignments and permissions.",
        "operationId": "DeleteUser",
        "parameters": [
          {
            "name": "UserID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the User",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "User deleted successfully"
          },
          "400": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "User not found or does not belong to your account"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user details by ID",
        "description": "Retrieves detailed information about a specific staff user including roles, permissions, and account associations.",
        "operationId": "GetUserById",
        "parameters": [
          {
            "name": "UserID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the User",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "User details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "User not found or does not belong to your account"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Update an existing user",
        "description": "Updates a staff user's information. Use separate endpoints to modify role assignments, permissions, or password.",
        "operationId": "UpdateUser",
        "parameters": [
          {
            "name": "UserID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the User",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "UserRequest",
          "description": "The UserRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g., invalid city ID)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "User not found or does not belong to your account"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/me": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get current user information",
        "description": "Retrieves the current authenticated user's information based on the JWT token.\n                            Returns user profile data according to the requested OAuth scopes.\n                            ",
        "operationId": "GetUserInfo",
        "parameters": [
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "UserInfo retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/roles": {
      "post": {
        "tags": [
          "Roles"
        ],
        "summary": "Create a new account-specific role",
        "description": "Creates a new role for the current account with optional initial permissions and location scoping. Note: All roles automatically receive fundamental permissions (Account_Get, Account_GetList, Location_Get, Location_GetList) to allow users to see their accounts and locations.",
        "operationId": "CreateRole",
        "parameters": [
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "RoleRequest",
          "description": "The RoleRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Role created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g., duplicate role name, invalid permissions)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "List all account-specific roles",
        "description": "Retrieves a paginated list of roles for the current account with optional filtering by location.",
        "operationId": "GetRoles",
        "parameters": [
          {
            "name": "Filters",
            "in": "query",
            "description": "The Filters query parameter",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page number for pagination (1-based)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "example": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "example": 20
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Field name to sort by",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "CreatedAt"
          },
          {
            "name": "SortDirection",
            "in": "query",
            "description": "The SortDirection query parameter",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Roles retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g., invalid location ID)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/roles/{RoleID}": {
      "delete": {
        "tags": [
          "Roles"
        ],
        "summary": "Delete a role",
        "description": "Deletes an account-specific role and all its associated permissions. Cannot delete roles with users assigned or system roles.",
        "operationId": "DeleteRole",
        "parameters": [
          {
            "name": "RoleID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Role",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "Role deleted successfully"
          },
          "400": {
            "description": "Validation error (role has users assigned)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions or trying to delete system role"
          },
          "404": {
            "description": "Role not found or does not belong to your account"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Roles"
        ],
        "summary": "Get role details by ID",
        "description": "Retrieves detailed information about a specific role including assigned permissions and user count.",
        "operationId": "GetRoleById",
        "parameters": [
          {
            "name": "RoleID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Role",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Role details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions"
          },
          "404": {
            "description": "Role not found or does not belong to your account"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Roles"
        ],
        "summary": "Update an existing role",
        "description": "Updates an account-specific role's name, location scoping, and permissions. When updating permissions, the list replaces all existing permissions except for fundamental ones. Fundamental permissions (Account_Get, Account_GetList, Location_Get, Location_GetList) are automatically preserved and cannot be removed.",
        "operationId": "UpdateRole",
        "parameters": [
          {
            "name": "RoleID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the Role",
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "RoleRequest",
          "description": "The RoleRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "Role updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g., duplicate name)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - insufficient permissions or trying to update system role"
          },
          "404": {
            "description": "Role not found or does not belong to your account"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/permissions": {
      "get": {
        "tags": [
          "Permissions"
        ],
        "summary": "Get all available permissions",
        "description": "Retrieves a complete list of all permissions available in the system that can be assigned to roles and users.",
        "operationId": "GetAvailablePermissions",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "required": true,
            "description": "Page number for pagination (1-based)",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "example": 20
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Available permissions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailablePermissionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/terminals": {
      "post": {
        "tags": [
          "Terminals"
        ],
        "summary": "Create a new terminal",
        "description": "Creates a new POS terminal/device under a subscription.",
        "operationId": "CreateTerminal",
        "parameters": [
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "requestBody": {
          "x-name": "TerminalRequest",
          "description": "The TerminalRequest parameter",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TerminalRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "201": {
            "description": "Terminal created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TerminalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Terminals"
        ],
        "summary": "Get terminals with filtering and pagination",
        "description": "Retrieves a paginated list of terminals with optional filtering.",
        "operationId": "GetTerminals",
        "parameters": [
          {
            "name": "SubscriptionID",
            "in": "query",
            "description": "The unique identifier of the Subscription",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "example": 1
          },
          {
            "name": "LocationID",
            "in": "query",
            "description": "The unique identifier of the Location",
            "schema": {
              "type": "integer",
              "format": "int64",
              "nullable": true
            },
            "example": 1
          },
          {
            "name": "DevicePlatform",
            "in": "query",
            "description": "The DevicePlatform query parameter",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "Filters",
            "in": "query",
            "description": "JSON array of filter rules. Example: [{\"Field\":\"Name\",\"Operator\":\"contains\",\"Values\":[\"SearchTerm\"]}]\nAvailable operators: eq, neq, gt, lt, gte, lte, contains, between",
            "schema": {
              "type": "string",
              "default": "[]",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "Page",
            "in": "query",
            "required": true,
            "description": "Page number for pagination (starts from 1)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "example": 1
          },
          {
            "name": "PageSize",
            "in": "query",
            "required": true,
            "description": "Number of items per page (1-100)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "example": 20
          },
          {
            "name": "SortBy",
            "in": "query",
            "description": "Field to sort by",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "example": "example"
          },
          {
            "name": "SortDirection",
            "in": "query",
            "required": true,
            "description": "Sort direction: \"asc\" or \"desc\"",
            "schema": {
              "type": "string",
              "default": "asc"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Terminalses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResultOfTerminalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/api/v1/terminals/{TerminalID}": {
      "delete": {
        "tags": [
          "Terminals"
        ],
        "summary": "Delete a terminal",
        "description": "Soft deletes a terminal by setting its status to Deleted.",
        "operationId": "DeleteTerminal",
        "parameters": [
          {
            "name": "TerminalID",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the terminal",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "example": 1
          },
          {
            "name": "X-Karage-Request-Id",
            "in": "header",
            "required": true,
            "description": "Unique request identifier for tracing and debugging",
            "schema": {
              "type": "string"
            },
            "example": "example"
          },
          {
            "name": "X-Account-ID",
            "in": "header",
            "required": true,
            "description": "The account ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          },
          {
            "name": "X-Location-ID",
            "in": "header",
            "required": true,
            "description": "The location ID to operate under (Required)",
            "schema": {
              "title": "Integer",
              "type": "integer",
              "format": "int32"
            },
            "example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "Terminal deleted successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "get": {
        "tags": [
          "Terminals"
        ],
[...]
